@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
    --pink: #f1c9c9;
    --blue: #5b87b5;
    --green: #d4e1bc;
    --black: #121212;
    --white: #f5f5f5;
}


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Poppins', Helvetica, sans-serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}


/*********************** HEADER ***********************/
header {
    height: 160px;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    font-size: 20pt;
}

header > nav {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > nav > a {
    height: 60px;
    min-width: 90px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

header > nav > a:hover {
    background-color: var(--pink);
}

header > div {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > a {
    display: flex;
    align-items: center;
}

header > div > a > img {
    height: auto;
    width: 100%;
    padding: 10px;
}

header > div:nth-child(1) {
    border-right: 1px solid rgba(255, 255, 255, 0.6)
}

header > div:nth-child(3) {
    border-left: 1px solid rgba(255, 255, 255, 0.6)
}

header > div:nth-child(3) > a {
    padding: 10px;
    background-color: var(--blue);
    box-shadow: 2px 4px 10px grey;
    transition: 0.5s;
}

header > div:nth-child(3) > a:hover {
    box-shadow: 4px 8px 15px grey;
    transform: scale(1.1);
}

/*********************** MAIN CONTENT - FRONTPAGE ***********************/
main {
    width: 100%;
    min-height: 500px;
}

/* hero */
#th {
    margin-bottom: 70px;
}

#th > .hero {
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 75%;
    margin: 20px auto 40px auto;
}

/* Om os */
#th > .aboutus{
    min-height: 600px;
    width: 100%;
    text-align: center;
}

#th > .aboutus > h1{
    font-size: 40pt;
    text-align: center;
}

#th > .aboutus > div {
    margin-bottom: 60px;
}

#th > .aboutus > div > h2{
    margin: 30px 0;
    font-size: 20pt;
    font-family: 'Poppin', Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
}

#th > .aboutus > div > p{
    font-size: 15pt;
    font-family: 'Poppin', Helvetica, sans-serif;
    font-weight: 400;
    max-width: 800px;
    margin:0 auto;
}

#th > .aboutus > a {
    display: flex;
    height: 80px;
    width: 300px;
    background-color: var(--blue);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-size: 20pt;
    transition: 0.5s;
}

#th > .aboutus > a:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 20px grey;
}

/* slideshow - kollektion */
.collection {
    position: relative;
    min-height:100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--pink);
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.slideshow {
    width: 1100px;
    overflow: hidden;
    position: relative;
}

.middle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 500%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
    overflow: hidden;
}

.slide .image {
    width: 1100px;
    height: 716px;
    background-position: center;
    background-size: cover;
}

.slide .imagemobile {
    display: none;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.circle{
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 20px 10px 20px;
    cursor: pointer;
    transition: 0.4s;
}

.circle:hover {
    background-color: white;
}

.collection > h1 {
    margin-top: 20px;
    font-size: 25pt;
}

.collection > h1, .collection > p {
    margin-bottom: 15px;
}

.collection > a {
    color: var(--blue);
    text-decoration: underline;
    font-style:italic;
}

/* Nyhedsbrev */
.newsletter {
    width: 100%;
    margin: 0 auto;
}

.newsletter > h1 {
    width: 60%;
    font-size: 25pt;
    margin: 0 auto 25px auto;
    text-align: center;
}

.newsletter > p {
    width: 60%;
    font-size: 20pt;
    margin: 0 auto 25px auto;
    text-align: center;
}

.newsletter > form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"], input[type="text"] {
    height: 100px;
    width: 250px;
    margin: 10px;
    border:none;
    text-align: center;
    font-size: 15pt;
    border: 1px solid var(--blue);
}

input[type="submit"] {
    background-color: var(--blue);
    border: none;
    height: 70px;
    width: 520px;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
}

/* MAIN CONTENT - BUTIK OVERSIGT */

.main-container {
    width: 100%;
    overflow: hidden;
}

.text-section {
    text-align: center;
    margin-top: 2em;
    line-height: 1.8;
}

.text-section h1 {
    font-size: 4em;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

.store-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
}

.card {
    width: 30%;
    transition: 0.3s ease;
    position: relative;
    overflow:hidden;
}

.card h2 {
    color: var(--pink);
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card img {
    height:100%;
    width: 100%;
    filter: brightness(70%);
}

/* MAIN CONTENT - Århus butikken */
#ss .img-wrapper {
    height: 70vh;
    position: relative;
    margin-bottom: 40px;
}

#ss .img-wrapper .aarhusbg {
    height: 70vh;
    background-image:url("../images/aarhus1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#ss .aabningstider {
    position: relative;
    display: flex;
    gap: 2em;
    background-color: black;
    min-width: 400px;
    max-width: 30vw;
    padding: 1em 2em;
    top: 80%;
    justify-content: center;
}

#ss .aabningstider p {
    color: white;
}



#ss > .main-container {
    width: 100%;
}

#ss > .main-container > .about {
    text-align: center;
    width: 100%;
}

#ss > .main-container > .about > h1 {
    margin-bottom: 1em;
}

#ss > .main-container > .about > h2 {
    margin: 1em;
}

#ss > .main-container > .about > p {
    line-height: 1.8;
    max-width: 50vw;
    margin: 0 auto;
}

#ss > .main-container > .about img {
    max-width: 40px;
    height: auto;
    margin-bottom: 3em;
}

.mobilesocial {
    display: none;
}

.fb-page {
    padding-bottom: 40px;
}

#ss > .main-container > .brands {
    background-color: var(--pink);
    padding-bottom: 50px;
}

#ss > .main-container > .brands > h1 {
    padding: 50px 0 80px 0;
    text-align: center;
}

#ss > .main-container > .brands > .brand-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 60%;
    gap: 10em;
}

#ss > .main-container > .brands > .brand-container > img{
    max-width: 50px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: var(--green);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

footer .hovedkontor h3, .butikker h3, .socials h3 {
    border-bottom: 2px solid var(--black);
    margin-bottom: 0.5em;
}

footer a {
    color: black;
}

.butikker a {
    text-decoration: underline;
}

.socials a img {
    max-height: 20px;
    width: auto;
}

/* Menu page */
.menuwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10%;
    background: var(--green);
}

.menuwrapper a {
    font-weight: 500;
    font-size: 1.5em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    border-left: 4px solid var(--clr);
    transition: 0.5s ease;
    padding-left: 1ch;
}


/*********************** MEDIA QUERIES ***********************/
@media only screen and (max-width: 950px) {
    header > nav > a, header > .largenav a {
        font-size: 2.5vw;
    }
}


@media only screen and (min-width: 768px) {
    .smallnav {
        display: none;
    }

     /* Hover effekt for laptop version */
    .card:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    .store-cards {
        gap: 2em;
        margin-bottom: 2em;
    }

    

    /* Større billeder for laptop for Århus butik */
    #ss .main-container .brands .brand-container img {
        transform: scale(2);
    }

    /* Menu page */
    .menuwrapper a:hover {
        color: var(--clr);
        transform: scale(1.2);
        padding: 1em 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .largenav {
        display: none;
    }

    .smallnav {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 40px;
    }

    #th > .hero {
        background-image: url("../images/heromobile.jpg");
        height: 300px;
        width: 100%;
    }

    #th > .aboutus {
        margin-bottom: 60px;
    }

    #th > .aboutus > div{
        padding: 20px;
    }

    #th > .aboutus > div > p{
        font-size: 15pt;
        font-family: 'Poppin', Helvetica, sans-serif;
        font-weight: 400;
        max-width: 800px;
        text-align: center;
    }

    /* slideshow */

    .collection {
        min-height: 20vh;
    }

    .slideshow {
        width: 768px;
    }

    .slide .image {
        display: none;     
    }

    .slide .imagemobile {
        width: 100%;
        height: 716px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display:block;
    }

    /* newsletter */

    .newsletter {
        width: 100%;
        padding:5px;
    }

    .newsletter > form > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input[type="email"], input[type="text"] {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
    }

     /* Media Query for "cards" på butik-oversigt-fanen */
    .store-cards{
        gap:1em;
    }

    .card {
        width: 100%;
    }

    footer p, .hovedkontor a {
        font-size:2.5vw;
    }

    /* Menu page */
    .menuwrapper {
        gap:7%;
    }
    .menuwrapper a {
        border: 4px solid var(--clr);
        background-color: var(--clr);
        width: 210px;
        padding:10px 0;
        white-space: nowrap;
    }

    /* Aarhus siden */

    #ss > .main-container > .about > p {
        max-width: 100%;
        padding: 10px;

    }
    .mobilesocial {
        display: block;
    }

    .fb-page {
        display: none;
    }
    .fb_iframe_widget {
        display: none !important;
    }

    #ss > .main-container > .brands > .brand-container{
        width: 100%;
        justify-content: space-evenly;
        gap: 7em;
        padding:10px;
    }

    #ss > .main-container > .brands > .brand-container img {
        max-width: 80px;
        flex: 0 0 33.333333%;
    }
    
}